body {
    margin: 0;
}

#headshot {
    width: 200px;
}

/* Mobile Styles */
@media only screen and (max-width: 450px) {

    body {
        text-align: center;
    }

    li {
        list-style: none;
    }

    #headshot {
        content: url("../images/heed.JPG");
        padding: 2px;
        width: 75vw;
        border-radius: 100%;
    }
}